@media only screen and (min-width: 550px){

header {

    height: 100px;
    /* width: 100%; */
    
}
    
  .nav1  {

    display: flex;
    background-color: none;
margin: 0 auto;
   width: 250px;
 justify-items: center;
 
    
}
  

  .nav1 > button{

    background-color: #ffd076;
    /* background-color: blue; */

  } 

 .nav1 a{

color: black;


 }

 .firstimg img {

height: 250px;
/* width: 100%; */

 }
 .firstimg figure {

width: auto;

 }

 .article img {

  width: 180px;
    height: 150px
 }

 .section1 {

  height: 750px;
 }
 
 .container-1  {

display: flex;
/* height: 200px; */
align-items: center;
padding: 20px;
padding-left: 55px;
    
 }
 
 .container-2 {


display: flex;
width: 100%;
justify-content: center;
gap: 12px;



 }

.container-2 img{

  /* width: 100%; */
  width: 250px;
    height: 290px;
    margin: 0 auto;
    object-position: 0px;
}

.Popular-print{

    width: 530px;
    /* height: px; */
    margin: 0 auto;
    /* text-align: center; */
   
   
}
.img3 img{

    object-fit: cover;
    object-position: 0px;
   
    height: 290px;

    }
    
    .Popular-print figcaption{
      
      width: 250px;
    }
    
  
  .img3 figcaption{
    
    /* width: 422px; */
    width: 522px;
  }


.img1 {

  height: 290px;
  
}

.img2 {

  height: 290px;
}

.img3 {

  height: 290px;
}


.containerfirst img{

height: 300px;
width: 530px;
/* margin: 0 auto; */
white-space-collapse:;

}


.containerfirst {

  margin: 0 auto;
  width: 100%;
  margin-left:  -135px;
  align-content: center;
}


.containerfirst figcaption{

  width: 530px;
}
.containerfirst h1{

  margin: 0 auto;
}


.container{


}

.flex1{

display: flex;
gap: 4px;
/* margin: 0 auto; */
margin-left: -135px;
}
.flex2{

display: flex;
/* margin: 0 auto; */
gap: 4px;
margin-left: -135px;
}
.flex3{

display: flex;
/* margin: 0 auto; */
gap: 4px;
margin-left: -135px;
}


.footer-info{

display: flex;

justify-content: space-around;

  }






  


























}


@media only screen and (min-width: 728px) {
  

  .nav1 {

    gap: 12px;
/* margin-left: 100px; */
margin: auto;
width: 100%;

}

header{

  position: relative;
  height: 55px;
}

.nav1 > button:hover{


  color: rgba(125, 12, 230, 0.653);
  
}
.logo-1{
  position: absolute;
  
width: 100%;
}

.Contact{
width: 100%;
  margin-left: auto;
}











}