@media only screen and (min-width: 420px){

header {

    height: 100px;
    /* width: 100%; */
    
}
    
  .nav1  {

    display: flex;
    background-color: none;
margin: 0 auto;
   width: 250px;
 justify-items: center;
 
    
}
  

  .nav1 > button{

    background-color: #ffd076;

  } 

 .nav1 a{

color: black;


 }

 .firstimg img {

height: 200px;
/* width: 100%; */

 }
 .firstimg figure {

width: auto;

 }

 .section1 {

  height: 600px;
 }
 
 .container-1  {

display: flex;
/* height: 200px; */
align-items: center;
padding: 20px;
    
 }
 
 .container-2 {


display: flex;
width: 100%;
justify-content: center;
gap: 12px;



 }

.container-2 img{

  /* width: 100%; */
  width: 200px;
    height: 220px;
    margin: 0 auto;
    object-position: 0px;
}

.Popular-print{

    width: 430px;
    /* height: px; */
    margin: 0 auto;
    /* text-align: center; */
    
   
}
.img3 img{

    object-fit: cover;
    object-position: 0px;
   
    

    }
    
    .Popular-print figcaption{
      
      width: 200px;
    }
    
  
  .img3 figcaption{
    
    width: 422px;
  }





}


